* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  font-family: sans-serif;
}

header {
  height: 40vh;
  background: url("https://wallpaperaccess.com/full/3845477.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 100px 0;
}

header div {
  width: 60%;
  max-width: 100%;
  background-color: white;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
}

.input-search {
  border: 0;
  border-radius: 50px;
  font-size: 1rem;
  padding: 1rem 2rem;
  width: 100%;
  outline: none;
}

.btn-search {
  border: none;
  background-color: blue;
  border-radius: 50px;
  color: white;
  padding: 1rem 2rem;
  font-size: 1rem;
}

.btn-search:hover {
  background-color: darkblue;
  border: 1px solid blue;
  cursor: pointer;
  transition: ease 0.5s;
}

main {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}
ul {
  text-align: center;
  width: 100%;
}
li {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
a {
  font-size: 1rem;
}
.btn-lyrics {
  width: 100px;
  background-color: darkblue;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 0.4rem 0.8rem;
  margin-bottom: 0.3rem;
  cursor: pointer;
  transition: ease 0.5s;
  font-size: 1rem;
}

.btn-lyrics:hover {
  background-color: blue;
}

@media (max-width: 768px) {
  ul {
    margin-left: -20px;
  }
  li {
    flex-direction: column;
  }

  .btn-lyrics {
    width: 70%;
    padding: 0.7rem 1.5rem;
    align-self: center;
    margin-top: 1rem;
  }
  header div {
    background-color: transparent;
    flex-direction: column;
    width: 90%;
  }
  .input-search {
    width: 90%;
    align-self: center;
  }
  .btn-search {
    width: 50%;
    margin-top: 1rem;
    align-self: center;
    border-radius: 50px;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
  }
}
